@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #570abf;
    --cor-segundaria: #340672;
    --cor-tercearia: #000000;
    --cor-texto: #ffffff;
    --font-principal: 'Roboto', sans-serif;
    --font-secundaria: 'Krona One', sans-serif;
    --font-tercearia: 'Boldonse', sans-serif;
    --cor-logo-clara: #8b5cf6;     
    --cor-logo-hover: #c084fc;     
    --cor-logo-secundaria: #6d28d9; 
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--cor-tercearia);
    color: var(--cor-texto);
    font-family: var(--font-principal);
}

.navbar-container {
    position: fixed;
    width: 100%;
    background-color: var(--cor-texto);
    color: var(--cor-tercearia);
}

.navbar a {
    color: var(--cor-texto);
    background-color: var(--cor-segundaria);
    font-family: var(--font-principal);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: color 0.3s ease;
    border-radius: 2px;
    font-size: 1.3rem;
}

.navbar a:hover {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.header {
    padding: 2% 0% 0% 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2% 5% 0% 0%;
}

.navbar {
    gap: 5rem;
    display: flex;
    flex-direction: row;
}

.sobre_min {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    font-family: var(--font-secundaria);
    color: var(--cor-texto);
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
}

.sobre_min_principal {
    font-family: var(--font-secundaria);
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-texto);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.sobre_min_cargo {
    font-size: 1.4em;
    color: var(--cor-texto);
    background-color: var(--cor-segundaria);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.sobre_min_descricao {
    font-size: 1em;
    line-height: 1.6;
    color: var(--cor-texto);
    text-align: justify;
    margin-left: 2rem;
}

.img_dono {
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2%;
    color: var(--cor-texto);
}

.sobre_min_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.info_about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 7rem 0;
    font-family: var(--font-secundaria);
    font-family: var(--font-secundaria);
    color: var(--cor-texto);
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    text-decoration: none;
}

.info_about_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
    height: 6rem;
    color: #ffffff;
    font-family: var(--font-secundaria);
    border-radius: 1rem;
    border: 2px solid #ffffff;
}

.info_about_number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #a259ff;
}

.skills_title {
    font-family: var(--font-tercearia);
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 7rem 0;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.skills_title {
    font-family: var(--font-tercearia);
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.skills_title:hover {
    transform: scale(1.2);
}

.skills_item {
    border: 0.2rem solid var(--cor-texto);
    border-radius: 5%;
    padding: 2%;
}

.skills_item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.skills_text {
    color: var(--cor-texto);
    font-family: var(--font-secundaria);
}

.projetos_title {
    color: var(--cor-texto);
    font-family: var(--font-secundaria);
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: auto;
    padding: 2rem 0;
    transition: color 0.3s ease, transform 0.3s ease;
    color: #fff;
    font-weight: bold;
}

.wrapper {
    position: relative;
    display: inline-block;
    width: 25rem;
    height: 20rem;
}

.projetos_container {
    display: flex;
    justify-content: center;
    flex-wrap: row;
    gap: 2rem;
    padding: 7rem 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.projetos_item {
    color: #ffffff;
    padding: 5%;
}

.projetos_img {
    width: 25rem;
    height: 20rem;
    border-radius: 2%;
    display: block;
    transition: filter 0.3s ease;
}

.olho_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -0%);
    width: 4rem;
    height: auto;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: none;
}

.wrapper:hover .projetos_img {
    filter: blur(5px);
}

.wrapper:hover .olho_img {
    opacity: 1;
}

.jornada {
    padding: 60px 20px;
    background-color: #000;
    color: white;
    text-align: center;
    background-color: none;
}

.jornada_title {
    font-size: 36px;
    margin-bottom: 50px;
}

.jornada_container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.jornada_container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: white;
    transform: translateX(-50%);
    z-index: 1;
}

.jornada_item {
    position: relative;
    width: 100%;
    margin: 40px 0;
}
.jornada_box {
    width: 400px;           
    height: 250px;         
    padding: 20px;
    border-radius: 12px;
    color: white;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    word-wrap: break-word;
}


.jornada_circle {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 4px solid white;
    border-radius: 50%;
    background: linear-gradient(135deg, #570abf, #8b5cf6);
    z-index: 2;
}

.jornada_item.esquerda .jornada_box {
    background-color: var(--cor-segundaria);
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: calc(50% + 20px);
}

.jornada_item.direita .jornada_box {
    background-color: var(--cor-segundaria);
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    position: relative;
    margin-left: calc(50% + 20px);
    margin-right: auto;
}